<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.dailyexpenses.unpas.dailyexpenses" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic"
        android:label="Daily Expenses"
        android:theme="@style/AppTheme" >

        <!-- spalsh screen -->
        <activity
            android:name=".SplashScreen"
            android:label="Daily Expenses"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- main -->
        <activity
            android:name=".HomeActivity"
            android:label="Daily Expanses"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PemasukanActivity"
            android:label="Pemasukan"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.dailyexpenses.unpas.dailyexpenses.HomeActivity" />
        </activity>
        <activity
            android:name=".TambahPemasukan"
            android:label="Tambah Pemasukan"
            android:parentActivityName=".PemasukanActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.dailyexpenses.unpas.dailyexpenses.PemasukanActivity" />
        </activity>
        <activity
            android:name=".PengeluaranActivity"
            android:label="Pengeluaran"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.dailyexpenses.unpas.dailyexpenses.HomeActivity" />
        </activity>
        <activity
            android:name=".TambahPengeluaran"
            android:label="Tambah Pengeluaran"
            android:parentActivityName=".PengeluaranActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.dailyexpenses.unpas.dailyexpenses.PengeluaranActivity" />
        </activity>
        <activity
            android:name=".Setting"
            android:label="@string/title_activity_setting"
            android:parentActivityName=".HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.dailyexpenses.unpas.dailyexpenses.HomeActivity" />
        </activity>
        <activity
            android:name=".KategoriPemasukan"
            android:label="Kategori Pemasukan"
            android:parentActivityName=".Setting" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.dailyexpenses.unpas.dailyexpenses.Setting" />
        </activity>
        <activity
            android:name=".KategoriPengeluaran"
            android:label="Kategori Pengeluaran"
            android:parentActivityName=".Setting" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.dailyexpenses.unpas.dailyexpenses.Setting" />
        </activity>
        <activity
            android:name=".CashFlow"
            android:label=""
            android:parentActivityName=".HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.dailyexpenses.unpas.dailyexpenses.HomeActivity" />
        </activity>
        <activity
            android:name=".LaporanTanggal"
            android:label="Laporan Keuangan"
            android:parentActivityName=".HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.dailyexpenses.unpas.dailyexpenses.HomeActivity" />
        </activity>
        <activity
            android:name=".Pin"
            android:label="@string/title_activity_pin"
            android:parentActivityName=".Setting" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.dailyexpenses.unpas.dailyexpenses.Setting" />
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".KategoriPemasukanRutin"
            android:label="@string/title_activity_kategori_pemasukan_rutin"
            android:parentActivityName=".Setting" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.dailyexpenses.unpas.dailyexpenses.Setting" />
        </activity>
        <activity
            android:name=".KategoriPengeluaranRutin"
            android:label="@string/title_activity_kategori_pengeluaran_rutin"
            android:parentActivityName=".Setting" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.dailyexpenses.unpas.dailyexpenses.Setting" />
        </activity>
        <activity
            android:name=".PemasukanRutin"
            android:label="Pemasukan Rutin"
            android:parentActivityName=".HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.dailyexpenses.unpas.dailyexpenses.HomeActivity" />
        </activity>
        <activity
            android:name=".TambahPemasukanRutin"
            android:label="Tambah Pemasukan Rutin"
            android:parentActivityName=".PemasukanActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.dailyexpenses.unpas.dailyexpenses.PemasukanActivity" />
        </activity>
        <activity
            android:name=".TambahPengeluaranRutin"
            android:label="Tambah Pengeluaran Rutin"
            android:parentActivityName=".PengeluaranActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.dailyexpenses.unpas.dailyexpenses.PengeluaranRutin" />
        </activity>
        <activity
            android:name=".PengeluaranRutin"
            android:label="Pengeluaran Rutin"
            android:parentActivityName=".HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.dailyexpenses.unpas.dailyexpenses.HomeActivity" />
        </activity>
        <activity
            android:name=".Reminder"
            android:label="@string/title_activity_reminder"
            android:parentActivityName=".HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.dailyexpenses.unpas.dailyexpenses.HomeActivity" />
        </activity>
    </application>

</manifest>
